<ion-view>
    <ion-header-bar class="bar-calm">
        <h1 class="title">图加商城</h1>

    </ion-header-bar>

    <ion-content>

        <ion-slide-box does-continue="true" auto-play="true">
            <ion-slide style="height: 150px;">
                <img style="width: 100%;height: 100%;" src="assets/images/glasses/other1.jpg">
            </ion-slide>
            <ion-slide style="height: 150px;">
                <img style="width: 100%;height: 100%;" src="assets/images/glasses/other8.jpg">
            </ion-slide>
            <ion-slide style="height: 150px;">
                <img style="width: 100%;height: 100%;" src="assets/images/glasses/parzin0.jpg">
            </ion-slide>
            <ion-slide style="height: 150px;">
                <img style="width: 100%;height: 100%;" src="assets/images/glasses/other2.jpg">
            </ion-slide>
            <ion-slide style="height: 150px;">
                <img style="width: 100%;height: 100%;" src="assets/images/glasses/other3.jpg">
            </ion-slide>
        </ion-slide-box>


        <div class="card">
            <div class="item item-image">
                <img src="assets/images/glasses/balon0.jpg">
            </div>
            <a class="item item-icon-right " href="#">
                暴龙 BOLON
                <p>相约巴黎 新款墨镜潮人明星款</p>
                <i class="icon assertive">
                    <span style="font-size: 14px;">￥</span>
                    <span style="font-size: 20px;">299</span>
                </i>
            </a>
        </div>

        <div class="card">
            <div class="item item-image">
                <img src="assets/images/glasses/rodenstock.jpg">
            </div>
            <a class="item item-icon-right " href="#">
                罗敦司得 SPORTS
                <p>2015秋冬款运动太阳镜</p>
                <i class="icon assertive">
                    <span style="font-size: 14px;">￥</span>
                    <span style="font-size: 20px;">1024</span>
                </i>
            </a>
        </div>

        <!--<div class="card">-->
            <!--<div class="item item-image">-->
                <!--<img src="assets/images/glasses/parzin0.jpg">-->
            <!--</div>-->
            <!--<a class="item item-icon-right " href="#">-->
                <!--帕森美镜之旅-->
                <!--<p>美镜之旅</p>-->
                <!--<i class="icon assertive">-->
                    <!--<span style="font-size: 14px;">￥</span>-->
                    <!--<span style="font-size: 20px;">99</span>-->
                <!--</i>-->
            <!--</a>-->
        <!--</div>-->



        <div class="card">
            <div class="item item-image">
                <img src="assets/images/glasses/polaroid1.jpg">
            </div>
            <a class="item item-icon-right " href="#">
                宝丽来Plus系列
                <p>YOU'LL SEE</p>
                <i class="icon assertive">
                    <span style="font-size: 14px;">￥</span>
                    <span style="font-size: 20px;">499</span>
                </i>
            </a>
        </div>


    </ion-content>
</ion-view>