<ion-view view-title="三维模型">

    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button ng-if="false"></ion-nav-back-button>
    </ion-nav-bar>
    <!-- -->
    <!--<ion-header-bar class="bar-calm">-->
        <!--&lt;!&ndash;<h1 class="title">三维模型</h1>&ndash;&gt;-->
    <!--</ion-header-bar>-->

    <ion-content>
        <ion-list>
            <z-item-message state="model-show" letter="展示" shape="round"
                            title="模型展示" desc="眼镜3D模型"></z-item-message>
            <z-item-message state="model-create" letter="建" shape="round"
                            title="模型创建" desc="拿起手机拍照"></z-item-message>
        </ion-list>

    </ion-content>
</ion-view>