@charset 'UTF-8';
@import 'vars';
@import 'typography';
@import "animate";

//引入ionic内置的变量
@import "../vendors/ionic/scss/variables";

@import "app/login";
@import "app/profile";

@import "directives/md-label";

body{
  color:white;
}

.no-border {
  border: none;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.icon-size-large {
  font-size: 28px;
}