$full-height: 900px;

// colors
$sass-pink: hsl(330, 50%, 60%);
$sass-green: hsl(120, 20%, 50%);

// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

$map-height: 800px;
$chart1-height: 300px;
$chart2-height: 200px;